body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    height: 30px;
    margin-left: 1000px;
}
h2{
    font-size: 60px;
}
.nav1{
    float: left;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 17px;
}
.first-section{
   height: 500px;
}
.about-me{
    float: left;
    width: 50%;
    text-align: center;
    
    
}
.about-me img{
    width: 90%;
}
.p-size{
    padding-left: 50px;
    text-align: justify;
}
