body{
    margin: 0%;
    padding: 0%;
}
.start{
    margin-left: 900px;
}
.aj-start{
    float: left;
    padding-left: 30px;
    font-weight: 700;
}
h1{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.name-color{
    color:tomato
}
.half-width{
    float: left;
    width: 50%;
}

.text-one{
    text-align: justify;
    padding: 0px 50px;
    color: dimgray;
    font-size: 16.5px;
}
.half-width img{
    width: 80%;
    
}
.link-botton{
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 005px;
    margin-left: 50px;
    color: white;
}
.heading-color{
    color: tomato;
}
.lastet-heading{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.lastet-main{
    padding: 60px;
}
h2{
    font-size: 35px;
    padding-left: 100px;
}
.lastet-work{
    clear: both;
    width: 100%;
    background-color: #F8F9FC;
    height: 650px;
}
.lastet-img{
    width: 100%;
    height: 200px;
}
.contain-0{
    float: left;
    width: 30%;
    padding: 10px;
	box-shadow: 5px 5px 10px gray;
	margin-left: 10px;
    border-radius: 15px;
}
.work-inquiry{
    background-image: url("images/inquiry-bg.png");
    height: 150px;
    background-repeat: no-repeat;
    background-size: 700px 150px;
    margin-left: 300px;
    margin-top: 35px;
    width: 70%;
}
.left-inquiry{
    float: left;
    width: 50%;
    margin-top: 20px;
}
.left-inquiry h2{
    color: white;
    text-transform: uppercase;
}